.topnav {
  overflow: hidden;
  background-color:#333;
  width:100%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid #3cd8ff;
}

.topnav a.active {
  border-bottom: 3px solid #3cd8ff;
}

div {
	font-family: "Andika";
	text-align: center;
	color: #3cd8ff;
	line-height: 1.4;
}

hr {
	border: none;
	background-color: #3cd8ff;
	height: 5px;
	width: 80%;
}

.extra {
	letter-spacing: 1px;
}

.count {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	color: #3cd8ff;
	letter-spacing: 3px;
}

.head {
	font-size: 110%;
}

.tab {
	position: relative;
	transform: translate(0%, 110%);
	font-size: 100%;
	width: 100%;
	height: 100%;
}	

body {
	background-image: url("background.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #4d4c48;
}

@media only screen and (orientation: portrait) {
	body {
		background-position: 23% 50%;
	}
}

table {
  border-collapse: collapse;
	color: #3cd8ff;
	max-width: 95%;
}

td {
	padding: 3px;
	text-align: center;
	border: 3px solid #3cd8ff;
	padding: 4px;
	background-color: rgba(0,0,0,0.6);
}

#changeCount:hover {
  color: #27f7a7;
  cursor: pointer;
}

.links {
  text-decoration: none;
	color: #29b7ed;
}

.links:visited {
	color: #21ffbc;
}

.links:hover {
	color: #2181ff;
  cursor: pointer;
}