.topnav {
  overflow: hidden;
  background-color:#333;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.topnav a:hover {
  border-bottom: 3px solid #2ef8b5;
}
.topnav a.active {
  border-bottom: 3px solid #2ef8b5;
}
div{
	font-family: "Andika";
	text-align: center;
	color: #2ef8b5;
	line-height: 1.4;
	}
	hr{
	border: none;
	background-color: #2ef8b5;
	height: 5px;
	width: 80%;
	}
	.extra{
	letter-spacing: 1px;
	}
	.count {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	color: #2ef8b5;
	letter-spacing: 3px;
	}
	.head {
	font-size: 110%;
	}
	.tab {
	position: relative;
	transform: translate(0%, 110%);
	font-size: 100%;
	width: 100%;
	height: 100%;
	}	
	body {
	background-color: black;
	background-image: url("TOHBackground.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
    }
	table {
  border-collapse: collapse;
	color: #27d49a;
	width: 95%;
	}
	td {
	padding: 3px;
	text-align: center;
	border: 3px solid #2ef8b5;
	padding: 4px;
	background-color: rgba(0,0,0,0.6);
	}
	.links {
  text-decoration: none;
	color: #29b7ed;
	}
	.links:visited {
	color: #fbff21;
	}
	.links:hover {
	color: #5bbdff;
	}
	@font-face {
    font-family: Andika;
    src: rel="preload" url('AndikaNewBasic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}